@import "tailwindcss";

@theme {
  --color-222: #222;
  --color-333: #333;
  --color-444: #444;

  --color-primary: #0169cc;
  --color-primary-dark: #0f589d;
  --color-bg: #191919;
  --color-list: #202020;
  --color-border: #2a2a2a;
  --color-hover: rgba(255, 255, 255, 0.05);
  --color-check: #0cbc4d;
  --color-actvie-bg: rgba(35, 131, 226, 0.1);
  --color-main: rgba(255, 255, 255, 0.8);
  --color-sub: #888;
  --color-main-darken: rgba(255, 255, 255, 0.3);
}

.flex-center {
  @apply flex justify-center items-center;
}

.wh-screen {
  @apply w-screen h-screen;
}

.wh-full {
  @apply w-full h-full;
}

.ellipsis {
  @apply whitespace-nowrap overflow-hidden text-ellipsis;
}
