@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  user-select: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

img {
  object-fit: cover;
  -webkit-user-drag: none;
}

html {
  --primary: rgb(35, 131, 226);

  --bg-color: #191919;

  --list-bg-color: #202020;

  --hover-bg-color: rgba(255, 255, 255, 0.05);

  --border-color: #2a2a2a;

  --active-bg-color: rgba(35, 131, 226, 0.1);

  --el-color-primary: var(--primary) !important;
}

.flex-center {
  @apply flex justify-center items-center;
}

.wh-screen {
  @apply w-screen h-screen;
}

.wh-full {
  @apply w-full h-full;
}

.ellipsis {
  @apply whitespace-nowrap overflow-hidden text-ellipsis;
}

.rotate {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.el-scrollbar__bar {
  right: 4px !important;
  bottom: 4px !important;
}

.el-notification {
  --el-notification-width: 300px !important;
}

.el-button {
  --el-fill-color-light: #282828 !important;
}

.el-message-box {
  --el-messagebox-border-radius: 10px !important;
  box-shadow: 0 1px 10px 0 rgba(#000, 0.5) !important;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color) !important;
}

.ym-input-number {
  .el-input__wrapper {
    box-shadow: none !important;
  }

  .el-input-number__decrease {
    border: none !important;
  }

  .el-input-number__increase {
    border: none !important;
  }
}

.ym-select {
  .el-select__wrapper {
    box-shadow: none !important;

    background-color: #282828 !important;

    &:hover {
      background-color: #303030 !important;
    }
  }
}

.el-select__popper {
  --el-popper-border-radius: 8px !important;
  border: none !important;

  background-color: var(--list-bg-color) !important;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 14px 28px -6px,
    rgba(0, 0, 0, 0.12) 0px 2px 4px -1px,
    rgba(255, 255, 255, 0.094) 0px 0px 0px 1px !important;

  .el-select-dropdown__list {
    padding: 4px !important;

    .el-select-dropdown__item {
      padding: 0 12px !important;
      border-radius: 6px !important;
    }
  }

  .el-popper__arrow {
    display: none;
  }
}

.el-radio {
  .el-radio__inner {
    &::after {
      width: 7px;
      height: 7px;
    }
  }
}

.el-dialog {
  --el-dialog-border-radius: 10px !important;
  box-shadow: 0 1px 10px 0 rgba(#000, 0.5) !important;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color) !important;
}
